<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact -Eldoret City Center Parking</title>
    <link rel="shortcut icon" href="images/3.png" type="image/x-icon" />
    <link rel="stylesheet" href="styles/index.css" />
  </head>
  <body>
    <%- include('_header.ejs') %>
    <main>
      <h1>Contact Eldoret City Center Parking</h1>
    </main>
  </body>
  <%- include('_footer.ejs') %>
</html>
