<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eldoret City Center Parking</title>
    <link rel="shortcut icon" href="images/3.png" type="image/x-icon" />
    <link rel="stylesheet" href="styles/index.css" />
  </head>
  <body>
    <%- include('_header.ejs') %>
    <main>
      <section class="hero">
        <div class="sect-text">
          <h1>Eldoret City Center Parking</h1>
          <p>
            Park conveniently in one of our spaces within the city. Get the best
            services for the best prices within town
          </p>
          <a href="/booknow">Book Now</a>
        </div>
        <div class="sect-img">
          <img src="images/2.png" alt="hero image" />
        </div>
      </section>
      <section class="sizes">
        <div class="vehicle-size">
          <img src="images/5.png" alt="bike icon" />
          <h2>Bikes</h2>
        </div>
        <div class="vehicle-size">
          <img src="images/6.png" alt="car icon" />
          <h2>Cars</h2>
        </div>
        <div class="vehicle-size">
          <img src="images/7.png" alt="truck icon" />
          <h2>Trucks</h2>
        </div>
        <div class="vehicle-size">
          <img src="images/8.png" alt="long truck icon" />
          <h2>Long Trucks</h2>
        </div>
      </section>
      <section class="whyus">
        <div class="sect-img">
          <img src="images/1.png" alt="why us image" />
        </div>
        <div class="sect-text">
          <h2>Why Park With Us</h2>
          <h3>Safety</h3>
          <p>
            Park with peace of mind at Eldoret City Center Parking. Our
            comprehensive security system includes 24/7 surveillance, controlled
            access, bright lighting, and regular patrols to keep your vehicle
            safe.
          </p>
          <h3>Automated Systems</h3>
          <p>
            Our parking experience is designed for your convenience. Utilize our
            automated systems for a seamless process - from entering the lot to
            paying for your parking - all without needing to interact with an
            attendant.
          </p>
          <h3>Convinient Location</h3>
          <p>
            Enjoy the ease of our central location! Eldoret City Center Parking
            is situated in the heart of the action, putting you within close
            proximity to major shops, businesses, and attractions. No more long
            commutes or frustrating detours – simply park with us and get on
            with your day's errands or adventures.
          </p>
        </div>
      </section>
    </main>
  </body>
  <%- include('_footer.ejs') %>
</html>
